@media (max-width: 768px) {
  .seccion1__hero {
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
    justify-content: center;
    padding-bottom: 300px;
  }

  .contenedor__secundario {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    'item1'
    'item2'
    'item3'
    'item4';
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  .mapa {
    display: none;
  }

  .datosDeContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    'servicio1'
    'servicio2'
    'servicio3'
    'servicio4';
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.contenedor__secundario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'item1 item2'
  'item3 item4';
}
}

@media (max-width: 1024px) {
.contenedorAbajo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedorArriba {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.clientes img:hover {
  transform: none;
}
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {

  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }

  .checkbtn {
    margin-left: 750px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }

   .checkbutton {
    margin-left: 750px;
  }

  nav {
    position: fixed;
    margin-top: 80px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: grey;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul {
    display: block;
    transition: all .5s;
  }

  nav ul li a {
    font-size: 20px;
    line-height: 50px;
  }

  a:hover, a.active {
    background: none;
    color: white
  }

  #check:checked ~ ul {
    left: 0;
  }

  #checkbox:checked ~ ul {
    left: 0;
  }

  #checkboxcheck:checked ~ ul {
  left: 0;
  }

  #checkcheckbox:checked ~ ul {
    left: 0;
    }
}


@media (max-width: 770px) {
  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }
  .checkbtn {
    margin-left: 700px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }

  .checkbutton {
    margin-left: 700px;
  }

}


@media (min-width: 769px) and (max-width: 1024px) {
  .seccion1__hero {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 20rem;
    line-height: $variable-1 * 6;
    overflow:hidden;
    padding: 3rem;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 437px) {
  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }
  .checkbtn {
    margin-left: 290px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }

  .checkbutton {
    margin-left: 290px;
  }
}


@media (min-width: 628px) and (max-width: 720px) {
  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }
  .checkbtn {
    margin-left: 600px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }
  .checkbutton {
    margin-left: 600px;
  }
}

@media (min-width: 523px) and (max-width: 627px) {
  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }
  .checkbtn {
    margin-left: 500px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }
  .checkbutton {
    margin-left: 500px;
  }
}

@media (min-width: 428px) and (max-width: 522px) {
  .checkbtn {
    display: block;
    position: relative;
    margin-top: -40px;
    overflow: visible;
  }
  .checkbtn {
    margin-left: 400px;
  }

  .checkbutton {
    display: block;
    position: relative;
    margin-top: -460px;
    overflow: visible;
  }
  .checkbutton {
    margin-left: 400px;
  }
}

@media (max-width: 916px) {
  .texto {
    display: flex;
    flex-direction: column;
  }
}
